#header {
    padding-top: 15px;
}
.nav-menu .drop-down.open-left ul{
    left: -110px;
}
.page-container {
    padding-top: 73px;
}
.profile-item-list {
    border-bottom: 1px solid rgb(241, 241, 241);
}
.profile-item-list:first-child {
    border-top: 1px solid rgb(241, 241, 241);
}
.profile-item-list:hover{ 
    background: rgb(245, 245, 245);
}
.profile-circle-male {
    border: 5px solid #5598fb;
}
.profile-circle-female {
    border: 5px solid #fb82e7;
}

.course-item {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}
.course-item .course-content {
    padding: 10px 15px;
    padding-bottom: 20px;
}